/*================================
font
===============================*/
$font-en: 'Montserrat', sans-serif;
$font-jp:'Noto Sans JP', sans-serif;

/*================================
color
===============================*/

$base-color: #333333;
$accent-color: #CECECE;