@use "mixin";
@use "variable";

/*================================
works
===============================*/
.works {
  margin-top: -100px;
  background: #f0f0f0;
  padding: 180px 0 60px;

  @include mixin.mq("sp") {
    padding: 140px 0 60px;
  }
}
.works-wrapper {
  display: flex;

  @include mixin.mq("tab") {
    flex-direction: column;
  }

  @include mixin.mq("sp") {
    flex-direction: column;
  }
}
.works-left {
  width: 50%;
  margin-right: 60px;

  @include mixin.mq("tab") {
    width: 100%;
    margin-right: 0px;
  }

  @include mixin.mq("sp") {
    width: 100%;
    margin-right: 0px;
  }

  img {
    margin-top: 30px;
  }
}
.works-text {
  font-size: 16px;
  margin-top: 27px;

  @include mixin.mq("tab") {
    margin-top: 20px;
  }

  @include mixin.mq("sp") {
    margin-top: 20px;
  }
}
.works-right {
  width: 50%;

  @include mixin.mq("tab") {
    width: 100%;
    margin-top: 30px;
  }

  @include mixin.mq("sp") {
    width: 100%;
    margin-top: 20px;
  }
  img {
    margin-top: 30px;
    height: 45.5vh;

    @include mixin.mq("tab") {
      height: 35.5vh;
    }

    @include mixin.mq("sp") {
      height: 25.5vh;
    }
  }
}
.works-link {
  margin-top: 28px;
}
